@model IEnumerable<HsgsGsu.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hold)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
